.carrousel-cards{
    position: absolute;
}
.card{
    width: 350px;
    height: 700px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    background-color: white;
    position: relative;
    & .imagen-card{   
        border-radius: 20px 20px 0px 0px;
        display: flex;
        justify-content: center;
        width: 350px;
        height: 400px;
        & img{
            width: 85%;
        }
    }
    & .content-card{
        padding: 0% 4% 10% 4%;
    } 
    & .controladores{
        columns: 2;
        bottom: 0px;
        padding: 0% 10% 10% 10%;
        display: flex;
        justify-content:space-between;
        align-content: center;
    }
    & .controles{
        padding-bottom: 15%;

        & button{
            width: 36px;
            height: 35px;
            border-radius: 100%;
            padding: 9px 10px;
            border: 0px;
            color: whitesmoke;
            background-color: #212121;
            margin-left: 10px;
            cursor: pointer;
            transition: 
                background-color 1s,
                ease-in;
            
        }
        & .outline-btn{
            background-color: transparent;
            border: 1px solid #212121;
            color: black;
        }
        & button:hover{
            background-color: rgb(218, 224, 230);
            border: 0px;
            color: black;
        }
    }
    & .indicators {
        display: flex;
        justify-content: left;
        gap: 10px;
        margin-top: 20px;
    }
    
    & .indicator {
        width: 10px; 
        height: 10px;
        border-radius: 50%; 
        background-color: #ccc; 
        transition: 
            background-color 0.3s,
            width 0.5s ease-in-out;
    }
    
    & .indicator.active {
        background-color: rgb(43, 43, 45);
        border-radius: 25px;
        width: 25px; 
    }
}
.boton-hidden{
    visibility: hidden;
    // left: -100rem;
    z-index: -10;
}
.boton-visible{
    visibility: visible;
    z-index: 1;
}

.hidden{
    visibility: hidden;
    z-index: -10;
}
.visible{
    visibility: visible;
    z-index: 1;
}



// @keyframes toRight {
//     0%{
//         transform: translateX(-100%);
//     }
//     100%{
//         transform: translateX(100%);
//     }
// }